APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

XSMB_PAGE_ID=110620843802028
NY_PAGE_ID=100161904867171
LQ_PAGE_ID=106731697685858
NA_PAGE_ID=101255648493211
PA_PAGE_ID=101693761818794
TA_PAGE_ID=102782265098523
AKI_PAGE_ID=107535885282834
COOK_PAGE_ID=100091540792392
GPT_PAGE_ID=

VERIFY_TOKEN=verify_token_of_facebook_webhook
ACCESS_TOKEN_IDPAGE=access_token_of_facebook_webhook
CLIENT_WIT=client_wit_github_wit.ai

//ACCESS_TOKEN_{PAGE_ID}=access_token_of_facebook_webhook

//KEY_ZALO=key_get_from_zalo_after_login:key: "getLoginInfo" -> zpw_enk
//ZPW_SEK_ZALO=ZPW_SEK_ZALO_after_login->cookie

//KEY_GOOGLE_CLOUD=THIS_IS_KEY_GOOGLE_CLOUD
AKI_API_URL=
GPT_API_URL=
